body{
    
}
.form>div{
    margin:10px 0px;
}
p{
    padding: 0px;
    margin: 0px;
}

.task{
    margin: 50px 0px;
    border-radius: 5px;
    width: 380px;
    overflow: hidden;
}

.task-form input{
    outline: none;
}

.form-container{
    position: relative;
}

.task-form{
    margin-top: 0px;
    padding: 10px;
    box-sizing: border-box;
    border :1px solid #eaeaea;
    background-color: rgb(237, 250, 254);;
    align-items: center;
    border-radius: 0px 0px 3px 3px;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}


.task-bar{
    
    border: 1px solid hsl(0, 0%, 92%);
    border-bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
   
}

.task-bar i{
    cursor: pointer;
    /* border-left: 2px solid black; */

}

.task-bar>p>span{
    color: #5f5f5f;
}
hr{
    margin: 0;
}
#TaskDesc{
    outline: none;
    padding: 6px;
    width: 100%;
    border: 1px solid #ded9d9;
    border-radius: 4px;
}

.date, .time{
    margin: 5px 0px;
    outline: none;
}

.date-time{
    display: flex;
    justify-content: space-between;
    /* margin: 5px; */
    margin-bottom: 5px;
}
.date input{
    padding: 6px;
    border-radius: 4px;
    border: none;
    outline: none;
    /* border : 1px solid rgb(202, 202, 202); */

}
.time select{
    outline: none;
}

.icon-contain{
    background-color: white;
    border-radius: 6px;
    padding-left: 8px;
    border: 1px solid #d1d1d1;
}

.time-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    /* width: 156px; */
}

.select-op{
    border: none;
    outline: none;
}

.cancel-save-btn{
    display: flex;
    justify-content: space-between;
}
.btn{
    border: 1px solid ;
    color: white;
    width: 80px;
}
.btn:hover{
    color: white;
}

.delete-btn{
    background-color: rgb(187, 0, 0);
}

.save-btn{
    background-color: rgb(4, 73, 4);
}


.container{
    display: flex;
    flex-direction: column;
}