body{
    
}
.form>div{
    margin:10px 0px;
}
p{
    padding: 0px;
    margin: 0px;
}

.task{
    border-radius: 5px;
    width: 380px;
}

.task-form input{
    outline: none;
}

.task-form{
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
    border :1px solid #eaeaea;
    /* box-sizing: border-box; */
    background-color: rgb(237, 250, 254);;
    align-items: center;
    height: 310px;
    border-radius: 0px 0px 3px 3px;
}

.task-bar{
    margin-top: 50px;
    padding: 10px ;
    border: 1px solid #eaeaea;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 0;
    padding: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-radius: 3px 3px 0px 0px;
}

.task-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.task-bar i{
    cursor: pointer;
    /* border-left: 2px solid black; */

}

.task-bar>p>span{
    color: #5f5f5f;
}
hr{
    margin: 0;
}
#TaskDesc{
    outline: none;
    padding: 6px;
    width: 332px;
    border: 1px solid #ded9d9;
    border-radius: 4px;
}

.date, .time{
    margin: 5px;
    outline: none;
}

.date-time{
    display: flex;
    /* margin: 5px; */
    margin-bottom: 5px;
}
.date input{
    padding: 6px;
    border-radius: 4px;
    border: none;
    outline: none;
    /* border : 1px solid rgb(202, 202, 202); */

}
.time select{
    outline: none;
}

.icon-contain{
    background-color: white;
    border-radius: 6px;
    padding-left: 8px;
    border: 1px solid #d1d1d1;
}

.time-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    width: 156px;
}

.select-op{
    border: none;
    outline: none;
}

.cancel-save-btn{
    display: flex;
    justify-content: space-between;
}
.btn{
    border: 1px solid ;
    color: white;
    width: 80px;
}
.btn:hover{
    color: white;
}

.delete-btn{
    background-color: rgb(187, 0, 0);
}

.save-btn{
    background-color: rgb(4, 73, 4);
}


.container{
    display: flex;
    flex-direction: column;
}